.cover__subtitle {
  width: 360px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  margin: 0 auto;
  padding: 32px 0 245px;
}