.header__logo {
  height: 52px;
  width: 176px;
  object-fit: cover;
  box-sizing: border-box;
  align-self: flex-end;
}

@media screen and (max-width: 320px) {
  .header__logo {
    height: 42px;
    width: 142px;
  }  
}