.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  padding: 0;
  margin: 28px auto 56px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    margin: 28px auto 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    width: calc(100% - 32px);
    margin: 16px auto 48px;
  }
}