.content {
  margin: 0 148px 0;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .content {
    margin: 0 16px 0;
  }
}