.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  border: 1px solid white;
  margin: 0;
  padding: 0 0 26px;
}

.place__paragraph:last-child {
  padding: 0;
}