.lead__image {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .lead__image {
    position: relative;
    left: -24px;
    width: calc(100% + 48px);
  }  
}