.lead__image {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image {
    position: relative;
    left: -24px;
    max-width: calc(100% + 48px);
  }  
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__image {
    min-width: 100%;
  }
}